rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Start by closing all access by default, then add what you need
    match /{document=**} {
      allow read, write: if false;
    }

    match /test/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /test_documents/{id} {
      allow update: if (request.auth != null &&
      resource.data.authorId == request.auth.uid);
    }

    // Add new rules here

    match /todos/{todoId} {
      // Allow authenticated users to view, delete, and update their own todo items
      allow read, delete, update: if(request.auth != null && 
      request.auth.uid == resource.data.uid);

      // Allow authenticated users to add new to-do items in their own account
      allow create: if(request.auth != null && 
      request.auth.uid == request.resource.data.uid);  
    }

    match /users/{iserId} {
      // Allow authenticated users create profiles and view profiles of other users
      allow read, create: if(request.auth != null);

      // Allow users edit their own profile && Admins edit any user's profile
      allow update: if(request.auth != null &&
      (request.auth.uid == resource.data.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true));
    }
  }
}